.card{
  border: 1px solid #ccc;
  padding: 10px 10px 10px 25px;
  border-radius: 10px;
  color: #fff;
  margin: 0 20px 0;
  background:linear-gradient(to right, #5e7388, #888b8e);
  background-size: cover;
}

.flex-item {
  justify-content: center;
}

.card-head{
  height: 20%;
  padding-bottom: 15px;
  padding-top: 5px;
}

.card-body{
  height: 70%;
}

.temperature-info{
  width: 100%;
  display: inline-grid;
  height: 30%;
  line-height: 1em;
}

.temperature{
  float: left;
  width: 100%;
  font-weight: bold;
  height: 40%;
  font-size:4vw;
  padding-bottom: 20px;
}

.feels-like{
  line-height: 3em;
  font-size: 3vh;
}
