<!-- carousel -->
<div class="carousel">
    <div class="slider-controls">
        <button (click)="onPreviousClick()" [disabled]="leftEnd">
            <span class="arrow left"></span>
        </button>
        <button (click)="onNextClick()" [disabled]="rightEnd">
            <span class="arrow right"></span>
        </button>
    </div>

    <ng-container *ngFor="let weatherDataObj of weatherData.list; let i = index">

        <app-weather-detail *ngIf="i === currentSlide" [weatherDataObj]=weatherDataObj class="slide">
        </app-weather-detail>
        <app-weather-detail *ngIf="i === currentSlide + 1" [weatherDataObj]=weatherDataObj class="slide">
        </app-weather-detail>
        <app-weather-detail *ngIf="i === currentSlide + 2" [weatherDataObj]=weatherDataObj class="slide">
        </app-weather-detail>
    </ng-container>


</div>