.unitsToggle{
  float: right;
  font-weight: 600;
  width : 200px;
  display: block;
}

#location-name{
  text-align: center;
  font-family: math;
  font-size: 22px;
  color: #fff;
}

.units{
  width: 15px;
}
h4{
  line-height: 1.2;	
}
h2 {
  padding-top: 30px;
  font-weight: 300;
  line-height: 1.2;
}
