<section class="container flex-grid section-padding">
    <div *ngIf="weatherData; else loading">
        <div class="unitsToggle">
            <h4>
                <input type="checkbox" name="units" id="units" class="units" (click)="switchUnits($event)"
                    [checked]="isImperial"> &nbsp; <label>{{unitLabel}}</label>
            </h4>
        </div>
        <div class="weather-container">
            <div id="location-name">
                <h2>{{weatherData.city.name}}</h2>
            </div>

            <app-weather-slider [weatherData]=weatherData [shortUnit]=shortUnit></app-weather-slider>
        </div>
    </div>
    <ng-template #loading>Loading...</ng-template>
</section>