:host {
  flex: 1;
}

.weather-slider {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
}

.slider-controls{
  padding: 10px;
  margin-bottom: 30px;
}

.button-right{
  float: right;
}

 .arrow {
  border: solid rgb(29, 19, 19);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.weatherData{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.slide {
  object-fit: contain;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  /* zoom effect on hover */
  transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
  border-radius: 0.5em;
  float: left;
}

.slide:hover {
  filter: brightness(1.2);
}